<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAI8lZWQWXyd98TrFvDJ2bAB92Z6yRo5ms</string>
	<key>GCM_SENDER_ID</key>
	<string>302325885077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appDev.workout</string>
	<key>PROJECT_ID</key>
	<string>workout-app-9768a</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-app-9768a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302325885077:ios:eb8617f4a644a810a3139c</string>
</dict>
</plist>